<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Historico - <%= nmDisciplina %>
    </title>
</head>

<body>
    <ul>
        <% for(let i=0; i < ra.length; i++){ %>
            <li>RA: <%= ra[i] %> | Nome: <%= nome[i] %> | <%= dtFalta[i] %>
                            <%}%>
    </ul>
</body>

</html>