<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>RA e nome dos alunos:</h1>
    <ul> <!--RA e Nomes aparecendo em uma lista-->
        <% for(var i = 0; i < 20; i++){
            %><li> RA: <%= ra[i] %> | Nome: <%= nomes[i] %> </li>
        <%}%>
    </ul>    
</body>

</html>