:root {
    --cor--primaria: #f5f5cd;
    --botao--cor: #000000;
}


body {
    margin: 0;
    padding: 0;
    height: 100vh;
    background: url("../img/fachada.png") no-repeat center center fixed;
    background-size: cover;
    font-family: Arial, sans-serif;
}

a {
    color: #ffffff;
    text-decoration: none;
}

.linha {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.PQ {
    color: var(--cor--primaria);
    font-size: 30px;
    text-align: center;
    font-family: American Typewriter, serif;
    padding: 37px;
    margin: 10px;

    background-image: url(../img/lousa.png);
    background-size: 150%;
    background-position: 50%;
    background-repeat: no-repeat;

    border-radius: 1rem;

    width: 13.75rem;
    height: 11rem;
}

.COMEX {
    color: var(--cor--primaria);
    font-size: 30px;
    text-align: center;
    font-family: American Typewriter, serif;

    background-image: url(../img/lousa.png);
    background-size: 150%;
    background-position: 50%;
    background-repeat: no-repeat;

    border-radius: 1rem;

    width: 13.75rem;
    height: 11rem;

    padding: 37px 10px;
    margin: 10px;
}

.GE {
    color: var(--cor--primaria);
    font-size: 30px;
    text-align: center;
    font-family: American Typewriter, serif;

    background-image: url(../img/lousa.png);
    background-size: 150%;
    background-position: 50%;
    background-repeat: no-repeat;

    border-radius: 1rem;

    width: 13.75rem;
    height: 11rem;

    padding: 37px 10px;
    margin: 10px;
}

.ADS {
    color: var(--cor--primaria);
    font-size: 23px;
    text-align: center;
    font-family: American Typewriter, serif;

    background-image: url(../img/lousa.png);
    background-size: 150%;
    background-position: 50%;
    background-repeat: no-repeat;

    border-radius: 1rem;

    width: 13.75rem;
    height: 11rem;

    padding: 37px 10px;
    margin: 10px;
}

.DSM {
    color: var(--cor--primaria);
    font-size: 1.5rem;
    text-align: center;
    font-family: American Typewriter, serif;

    background-image: url(../img/lousa.png);
    background-size: 150%;
    background-position: 50%;
    background-repeat: no-repeat;

    border-radius: 1rem;

    width: 13.75rem;
    height: 11rem;

    padding: 37px 10px;
    margin: 10px;
}

.dropdown-menu{
    background-color: transparent;
    border-color: transparent;
}

.botao {
	background:linear-gradient(to bottom,var(--botao--cor) 5%,var(--botao--cor) 100%);
	background-color:var(--botao--cor);
	border-radius:6px;
	display:inline-block;
	cursor:pointer;
	color:#f0f0f0;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
}
.botao:hover {
	background:linear-gradient(to bottom,var(--botao--cor) 5%, var(--botao--cor)100%);
	background-colorvar(--botao--cor);
}
.botao:active {
	position:relative;
	top:1px;
}
