:root {
    --cor--primaria: #f5f5cd;
    --botao--cor: #000000;
    --cor--sair: red;
}


body {
    margin: 0;
    padding: 0;
    height: 100vh;
    background: url("../img/fachada.png") no-repeat center center fixed;
    background-size: cover;
    font-family: Arial, sans-serif;
}

a {
    color: var(--cor--primaria);
    text-decoration: none;
}

.linha {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.PQ {
    color: var(--cor--primaria);
    font-size: 1.87rem;
    font-family: American Typewriter, serif;

    background-image: url(../img/lousa.png);
    background-size: 150%;
    background-position: 50%;
    background-repeat: no-repeat;

    border-radius: 1rem;

    width: 13.75rem;
    height: 11rem;

    padding: 2.31rem;
    margin:  0.62rem;
}

.COMEX {
    color: var(--cor--primaria);
    font-size: 1.87rem;
    font-family: American Typewriter, serif;

    background-image: url(../img/lousa.png);
    background-size: 150%;
    background-position: 50%;
    background-repeat: no-repeat;

    border-radius: 1rem;

    width: 13.75rem;
    height: 11rem;

    padding: 2.31rem;
    margin:  0.62rem;
}

.GE {
    color: var(--cor--primaria);
    font-size:  1.87rem;
    font-family: American Typewriter, serif;

    background-image: url(../img/lousa.png);
    background-size: 150%;
    background-position: 50%;
    background-repeat: no-repeat;

    border-radius: 1rem;

    width: 13.75rem;
    height: 11rem;

    padding: 2.31rem;
    margin:  0.62rem;
}

.ADS {
    color: var(--cor--primaria);
    font-size: 1.5rem;
    font-family: American Typewriter, serif;

    background-image: url(../img/lousa.png);
    background-size: 150%;
    background-position: 50%;
    background-repeat: no-repeat;

    border-radius: 1rem;

    width: 13.75rem;
    height: 11rem;

    padding: 2.31rem;
    margin:  0.62rem;
}

.DSM {
    color: var(--cor--primaria);
    font-size: 1.5rem;
    font-family: American Typewriter, serif;

    background-image: url(../img/lousa.png);
    background-size: 150%;
    background-position: 50%;
    background-repeat: no-repeat;

    border-radius: 1rem;

    width: 13.75rem;
    height: 11rem;

    padding: 2.31rem;
    margin:  0.62rem;
}

.dropdown-menu{
    background-color: transparent;
    border-color: transparent;
}

.botao {
	background:linear-gradient(to bottom,var(--botao--cor) 5%,var(--botao--cor) 100%);
	border-radius: 0.7rem;
	display:inline-block;
	cursor:pointer;
	color:var(--cor--primaria);
	font-family:Arial;
	font-size:0.93rem;
	font-weight:bold;
	padding:0.37rem 1.5rem;
	text-decoration:none;
}

.botaoSair {
    background:linear-gradient(to bottom,var(--cor--sair) 5%,var(--cor--sair) 100%);
    border-radius: 0.7rem;
	display:inline-block;
	cursor:pointer;
	color:var(--cor--primaria);
	font-family:Arial;
	font-size:0.93rem;
	font-weight:bold;
	padding:0.37rem 1.5rem;
	text-decoration:none;
}