:root {
    --cor--primaria: #f5f5cd;
}


body {
    margin: 0;
    padding: 0;
    height: 100vh;
    background: url("../img/fachada.png") no-repeat center center fixed;        
    background-size: cover;
    font-family: Arial, sans-serif;
}

.logo {
    position: relative;
    top: 4%;
    left: 50%;
    translate: -50%;
    margin-top: 20px;
    margin-bottom: 40px;
}

a {
    color: #ffffff;
    text-decoration: none;
}

.linha {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.PQ {
    color: var(--cor--primaria);
    font-size: 30px;
    text-align: center;
    font-family: American Typewriter, serif;
    padding: 37px;
    margin: 10px;

    background-image: url(../img/lousa.png);
    background-size: 150%;
    background-position: 50%;
    background-repeat: no-repeat;

    border-radius: 1rem;

    width: 13.75rem;
    height: 11rem;
}

.COMEX {
    color: var(--cor--primaria);
    font-size: 30px;
    text-align: center;
    font-family: American Typewriter, serif;

    background-image: url(../img/lousa.png);
    background-size: 150%;
    background-position: 50%;
    background-repeat: no-repeat;

    border-radius: 1rem;

    width: 13.75rem;
    height: 11rem;

    padding: 37px 10px;
    margin: 10px;
}

.GE {
    color: var(--cor--primaria);
    font-size: 30px;
    text-align: center;
    font-family: American Typewriter, serif;

    background-image: url(../img/lousa.png);
    background-size: 150%;
    background-position: 50%;
    background-repeat: no-repeat;

    border-radius: 1rem;

    width: 13.75rem;
    height: 11rem;

    padding: 37px 10px;
    margin: 10px;
}

.ADS {
    color: var(--cor--primaria);
    font-size: 23px;
    text-align: center;
    font-family: American Typewriter, serif;

    background-image: url(../img/lousa.png);
    background-size: 150%;
    background-position: 50%;
    background-repeat: no-repeat;

    border-radius: 1rem;

    width: 13.75rem;
    height: 11rem;

    padding: 37px 10px;
    margin: 10px;
}

.DSM {
    color: var(--cor--primaria);
    font-size: 1.5rem;
    text-align: center;
    font-family: American Typewriter, serif;

    background-image: url(../img/lousa.png);
    background-size: 150%;
    background-position: 50%;
    background-repeat: no-repeat;

    border-radius: 1rem;

    width: 13.75rem;
    height: 11rem;

    padding: 37px 10px;
    margin: 10px;
}