:root {
    --cor-preta: #000000;
    --fundo--painel:rgba(175, 175, 175, 0.5);
}

body {
    background-image: url("../img/fundo.png");
    background-repeat: no-repeat;
    background-position: 50% 15%;
    background-size: cover;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
    height: 100vh;
    font-family: Arial, sans-serif;
}
p{
    height: 0.62rem;
    text-align: left;    
}
.logo {
    position: relative;
    top: 4%;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 1.25rem;
    margin-bottom: 2.5rem;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}   

.fundo {
    background: var(--fundo--painel);
    color: var( --cor-preta);
    height: 60%;
    width: 40%;
    max-width: 37.5rem;
    border-radius: 0.62rem;
    padding: 1.25rem;
}

.botao {
    color: var( --cor-preta);
    background: lightskyblue;
    display: flex;
    justify-content: center;
    margin-top: 0.5rem;
}

input[type=text],
input[type=password]{
    color:var( --cor-preta);
    border-color:var(--fundo--painel);
}

input[type=text]:focus,
input[type=password]:focus{
    border-color: var(--fundo--painel);
}