body {
    background-image: url("../img/fundo.png");
    background-repeat: no-repeat;
    background-position: 50% 15%;
    background-size: cover;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
    height: 100vh;
    font-family: Arial, sans-serif;
}
p{
    height: 10px;
    text-align: left;    
}
.logo {
    position: relative;
    top: 4%;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 20px;
    margin-bottom: 40px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}   

.fundo {
    background: rgba(175, 175, 175, 0.5);
    color: rgb(0, 0, 0);
    height: 50%;
    width: 40%;
    max-width: 600px;
    border-radius: 10px;
    padding: 20px;
}

.botao {
    color: black;
    background: lightskyblue;
    display: flex;
    justify-content: center;
    margin-top: 8px;
}

input[type=text],
input[type=password]{
    color: black;
    border-color: rgba(131, 126, 126, 0.904);
}
input[type=text]:focus,
input[type=password]:focus{
    border-color: rgba(131, 126, 126, 0.904);
}