:root {
    --cor--preta: #000000;
    --cor--branco: #f0f0f0;
    --fundo--painel:rgba(175, 175, 175, 0.5);
    --cor--azul: #007bff ;
}

body {
    font-family: Arial, sans-serif;    
    height: 100vh;
    margin: 0;
    background: url("../imgAdm/fundoAdm.jpg") no-repeat center center fixed;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#imgPerfil {
    display: block;
    margin: 0.62rem auto;
    border-radius: 50%;
    width: 9.37rem;
    height: 9.37rem;
    object-fit: cover;
    border: 3px solid var(--cor--preta);
}

.slider {
    width: 18.75rem;
    height: 6.25rem;    
    background-color: var(--cor--branco);
    border: 0.12rem solid var(--cor--preta);
    border-radius: 0.62rem;
    box-shadow: 0 0.25rem 0.5rem var(--cor--preta);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition: height 0.3s ease;
    margin: 2rem;
}

.slider:hover {
    height: 12.5rem;
}

.slider-options {
    display: none;
    flex-direction: column;
    text-align: center;
    padding-top: 0.62rem;
    width: 100%;
}

.slider:hover .slider-options {
    display: flex;
}

.slider:hover .slider-text {
    display: none;
}

.slider-text {
    font-size: 1.12rem;
    color: var(--cor--preta);
}

.slider-options a {
    text-decoration: none;
    padding: 0.62rem;
    background-color: var(--cor--azul);
    color: var(--cor--branco);
    border-radius: 0.31rem;
    margin: 0.31rem;
    transition: background-color 0.2s ease;
}

.slider-options a:hover {
    background-color: var(--cor--azul);
}

.voltar {
	background:linear-gradient(to bottom,var(--cor--preta) 5%,var(--cor--preta) 100%);
	background-color:var(--cor--preta);
	border-radius: 0.7rem;
	display:inline-block;
	cursor:pointer;
	color:var(--cor--branco);
	font-family:Arial;
	font-size:0.93rem;
	font-weight:bold;
	padding:0.37rem 1.5rem;
	text-decoration:none;
}

.fundo {
    background: var(--fundo--painel);
    color: var(--cor--preta);
    max-width: 37.5rem;
} 

.Disc{
    background: var(--cor--azul);
    color: var(--cor--branco);
    border-radius:0.93rem;
    min-width: 21rem;
    max-width:25rem;
}