
body {
    margin: 0;
    padding: 0;
    background-color: var(--cor--branco);
    color: var(--cor--preta);
}

.voltar {
    display: inline-block;
    text-decoration: none;
}


h2 {
    background-color: var(--cor--azul);
    color: var(--cor--branco);
    padding: 0.62rem;
    border-radius: 5px;
    margin: 1.25rem auto;
    width: fit-content;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0 1.25rem 1.25rem 2.5rem;
}

li {
    background-color: var(--cor--branco);
    margin: 5px 0;
    padding: 0.62rem;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}