body {
    margin: 0;
    padding: 0;
    background-color:var(--cor--cinza);
    color: var(--cor--preta);
}

h1 {
    color: var(--cor--azul);
    text-align: center;
    margin: 1.25rem 0;
}
 

.voltar {
    display: block;
}

#procura {
    display: block;
    width: 80%;
    max-width: 600px;
    margin: 1.25rem auto;
    padding: 0.62rem;
    font-size: 1rem;
    border: 1px solid #ddd;
    border-radius: 5px;
}

#procura:focus {
    outline: none;
    border-color: var(--cor--azul);
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

/* Lista de resultados */
.fundo {
    list-style-type: none;
    padding: 0;
    margin: 1.25rem auto;
    width: 90%;
    max-width: 50rem;
}

.fundo li {
    background-color: var(--cor--branco);
    border: 1px solid #ddd;
    border-radius: 5px;
    margin: 0.62rem 0;
    padding: 0.62rem;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease;
}

.fundo li:hover {
    transform: scale(1.02);
    box-shadow: 0 4px 0.62rem rgba(0, 0, 0, 0.15);
}

.fundo li a {
    font-weight: bold;
    color: var(--cor--azul);
    text-decoration: none;
}

.fundo li a:hover {
    text-decoration: underline;
}

/* Container de resultados */
.results-container {
    display: none;
}