:root {
    --cor--preta: #000000;
	--cor--branco: #f0f0f0;
	--cor--fundo: #fdfd96;
}

.aluno{
    width: 9.37rem; 
    height: 12.5rem; 
    object-fit: cover;
    border: 0.12rem solid var(--cor--preta);
}

.botao  {
	background:linear-gradient(to bottom,var(--cor--preta) 5%,var(--cor--preta) 100%);
	border-radius: 0.7rem;
	display:inline-block;
	cursor:pointer;
	color:var(--cor--branco);
	font-family:Arial;
	font-size:0.93rem;
	font-weight:bold;
	padding:0.37rem 1.5rem;
	text-decoration:none;
}

body{
background-color: var(--cor--fundo);
}