:root {
    --cor-preta: #000000;
    --fundo--cor: #4169ff;
    --cor--branco: white;
    --cor--sair: red;
    --cor--fundo: #fdfd96;
    --fundo:rgba(0, 0, 0, 0.1);
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Perfil {
    text-align: center;
    margin: 20px;
    padding: 20px;
    background-color: var(--cor--branco);
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 2px 5px var(--fundo);
    width: 60%;
    max-width: 300px;
    position: absolute;
    top: 0;
    left: 0;
    margin: 0.62rem;
}


.Perfil .aluno {
    border-radius: 50%;
    width: 120px;
    height: 120px;
    object-fit: cover;
    margin-bottom: 10px;
}

.botao, .botaoSair {
    display: block;
    width: 80%;
    margin: 10px auto;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.botao {
    background-color: #007bff;
    color: var(--cor--branco);
    border-radius: 0.7rem;
}

.botao:hover {
    background-color: #0056b3;
}

.botaoSair {
    background-color: var(--cor--sair);
    color: white;
    border-radius: 0.7rem;
}


.fundo {
    width: 90%;
    max-width: 500px;
    margin: 20px auto;
}


.chamada {
    background-color: var(--cor--branco);
    margin: 10px 0;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 2px 5px var(--fundo);
}

.more {
    font-size: 18px;
}

.info {
    font-size: 14px;
    color: #888;
}