body {
    background-color: var(--cor--branco);
    color: var(--cor--preta)
}

.Perfil {
    text-align: center;
    margin: 1.25rem;
    padding: 1.25rem;
    background-color: var(--cor--branco);
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 2px 5px var(--fundo--painel);
    width: 60%;
    max-width: 18.75rem;
    position: absolute;
    top: 0;
    left: 0;
    margin: 0.62rem;
}


.Perfil .aluno {
    border-radius: 50%;
    width: 7.5rem;
    height: 7.5rem;
    object-fit: cover;
    margin-bottom: 10px;
}

.botao, .botaoSair {
    display: block;
    width: 80%;
    margin: 10px auto;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.botao {
    background-color:var(--cor--azul);
    color: var(--cor--branco);
    border-radius: 0.7rem;
}

.botao:hover {
    background-color: #0056b3;
}

.botaoSair {
    background-color: var(--cor--vermelha);
    color:var(--cor--branco);
    border-radius: 0.7rem;
}


.fundo {
    width: 90%;
    max-width: 31.25rem;
    margin: 1.25rem auto;
}


.chamada {
    background-color: var(--cor--branco);
    margin: 10px 0;
    padding: 1.12rem;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 2px 5px var(--fundo--painel);
}

.more {
    font-size: 1.12rem;
}

.info {
    font-size: 14px;
    color: #888;
}

/* Novo CSS possível
.card {
    width: 300px;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 0 5px rgba(0,0,0,0.2);
    background: white;
  }
  
  .card-header {
    background: #4a4f56;
    color: white;
    padding: 10px;
  }
  
  .card-header .code {
    font-size: 12px;
  }
  
  .card-header .title {
    font-weight: bold;
  }
  
  .card-body {
    padding: 10px;
    font-size: 14px;
  }
  
  .docente {
    margin-bottom: 10px;
    font-weight: bold;
    color: #444;
  }
  
  .info {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #ddd;
    padding: 6px 0;
  }
  
  .frequency .warning {
    color: #c0392b;
    margin-right: 5px;
  }

  */